# Bootcamp Data Science y MLOps

<img src="https://i.ibb.co/5RM26Cw/LOGO-COLOR2.png" width="500px">

Creado en [escueladedatosvivos.ai](https://escueladedatosvivos.ai) 🚀.

¿Consultas? En la página tenés soporte por IA guiada, comunidad y el acceso a certificación.

<br>

---

# 0) Dataset 🤑

Nos basamos en el dataset de Kaggle: [Bank Marketing](https://www.kaggle.com/datasets/henriqueyamahata/bank-marketing).
<br>Se hicieron modificaciones al dataset para ajustarlo a esta lección.

# 1) Cargamos los datos 📕

In [ ]:
import pandas as pd
from funpymodeling.exploratory import freq_tbl, status

In [ ]:
# Para este caso nos interesa visualizar todas las columnas
pd.set_option('display.max_columns', None)

In [ ]:
data = pd.read_csv("bank-additional-full.csv", sep=';')

In [ ]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,NaN,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334.0,1,999,0,NaN,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383.0,1,999,0,NaN,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189.0,2,999,0,NaN,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,442.0,1,999,0,NaN,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239.0,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

*Nota:* si bien el valor defecto de sep en `read_csv` es la coma `,`.
<br>Siempre lo hago explícito porque a veces los archivos vienen separados por punto y coma, u otro separador como tab. Es una buena práctica, y también aplica cuando graban archivos.

# 2) Inspección inicial 👀

In [ ]:
# Primeros 5 registros
data.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,NaN,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no

In [ ]:
status(data)

          variable  q_nan     p_nan  q_zeros   p_zeros  unique     type
0              age      0  0.000000        0  0.000000      78    int64
1              job    330  0.008012        0  0.000000      11   object
2          marital     80  0.001942        0  0.000000       3   object
3        education   1731  0.042027        0  0.000000       7   object
4          default   8597  0.208726        0  0.000000       2   object
5          housing    990  0.024036        0  0.000000       2   object
6             loan    990  0.024036        0  0.000000       2   object
7          contact      0  0.000000        0  0.000000       2   object
8            month      0  0.000000        0  0.000000      10   object
9      day_of_week      0  0.000000        0  0.000000       5   object
10        duration     14  0.000340        4  0.000097    1544  float64
11        campaign      0  0.000000        0  0.000000      42    int64
12           pdays      0  0.000000       15  0.000364      27    int64
13        previous      0  0.000000    35563  0.863431       8    int64
14        poutcome  35563  0.863431        0  0.000000       2   object
15    emp.var.rate      0  0.000000        0  0.000000      10  float64
16  cons.price.idx      0  0.000000        0  0.000000      26  float64
17   cons.conf.idx      0  0.000000        0  0.000000      26  float64
18       euribor3m      0  0.000000        0  0.000000     316  float64
19     nr.employed      0  0.000000        0  0.000000      11  float64
20               y      0  0.000000        0  0.000000       2   object

In [ ]:
data["poutcome"].value_counts()

poutcome
failure    4252
success    1373
Name: count, dtype: int64

# 3) Discretización 📈➜📊

In [ ]:
data1=data.copy()

## 3.1) Por igual frecuencia y por igual rango.

Vamos a analizar la columna age

In [ ]:
edad_cat=pd.qcut(data1['age'], q=5)

In [ ]:
data1['age']

0        56
1        57
2        37
3        40
4        56
         ..
41183    73
41184    46
41185    56
41186    44
41187    74
Name: age, Length: 41188, dtype: int64

In [ ]:
edad_cat

0        (49.0, 98.0]
1        (49.0, 98.0]
2        (35.0, 41.0]
3        (35.0, 41.0]
4        (49.0, 98.0]
             ...
41183    (49.0, 98.0]
41184    (41.0, 49.0]
41185    (49.0, 98.0]
41186    (41.0, 49.0]
41187    (49.0, 98.0]
Name: age, Length: 41188, dtype: category
Categories (5, interval[float64, right]): [(16.999, 31.0] < (31.0, 35.0] < (35.0, 41.0] < (41.0, 49.0] < (49.0, 98.0]]

In [ ]:
status(edad_cat)

  variable  q_nan  p_nan  q_zeros  p_zeros  unique      type
0      age      0    0.0        0      0.0       5  category

In [ ]:
edad_cat.value_counts()

age
(16.999, 31.0]    9330
(35.0, 41.0]      8533
(41.0, 49.0]      8087
(49.0, 98.0]      8055
(31.0, 35.0]      7183
Name: count, dtype: int64

## 3.2) Ahora usando igual distancia

In [ ]:
edad_cat_2=pd.cut(data1['age'],bins=5)

In [ ]:
edad_cat_2.value_counts()

age
(33.2, 49.4]      20124
(16.919, 33.2]    13009
(49.4, 65.6]       7436
(65.6, 81.8]        520
(81.8, 98.0]         99
Name: count, dtype: int64

## 3.3) Discretización cuando se usa en producción

In [ ]:
from sklearn.model_selection import train_test_split

data_tr, data_ts = train_test_split(data1, test_size=0.3)

In [ ]:
edad_tr, saved_bins = pd.qcut(data_tr['age'],
                              q=5,
                              retbins=True) # importante!

In [ ]:
# Chequeo:
edad_tr

40761    (16.999, 31.0]
36566      (49.0, 98.0]
10747      (31.0, 36.0]
30872      (31.0, 36.0]
5576       (31.0, 36.0]
              ...
26273      (31.0, 36.0]
34474      (41.0, 49.0]
7617       (41.0, 49.0]
1733       (31.0, 36.0]
26120      (49.0, 98.0]
Name: age, Length: 28831, dtype: category
Categories (5, interval[float64, right]): [(16.999, 31.0] < (31.0, 36.0] < (36.0, 41.0] < (41.0, 49.0] < (49.0, 98.0]]

Y lo más importante, los puntos de corte:

In [ ]:
# Importante: guardar en pickles!
saved_bins

array([17., 31., 36., 41., 49., 98.])

In [ ]:
edad_ts=pd.cut(
    data_ts['age'],
    bins=saved_bins,
    include_lowest=True) # importante para que coincidan todos

In [ ]:
freq_tbl(edad_ts).sort_values('age')

              age  frequency  percentage  cumulative_perc
0  (16.999, 31.0]       2821    0.228292         0.228292
1    (31.0, 36.0]       2707    0.219066         0.447358
4    (36.0, 41.0]       2005    0.162256         1.000000
2    (41.0, 49.0]       2440    0.197459         0.644817
3    (49.0, 98.0]       2384    0.192927         0.837744

# 4) Preparación de datos 🔧

In [ ]:
data2=data.copy()

## 4.1) Cambiarlos de tipo de dato

In [ ]:
status(data2)

          variable  q_nan     p_nan  q_zeros   p_zeros  unique     type
0              age      0  0.000000        0  0.000000      78    int64
1              job    330  0.008012        0  0.000000      11   object
2          marital     80  0.001942        0  0.000000       3   object
3        education   1731  0.042027        0  0.000000       7   object
4          default   8597  0.208726        0  0.000000       2   object
5          housing    990  0.024036        0  0.000000       2   object
6             loan    990  0.024036        0  0.000000       2   object
7          contact      0  0.000000        0  0.000000       2   object
8            month      0  0.000000        0  0.000000      10   object
9      day_of_week      0  0.000000        0  0.000000       5   object
10        duration     14  0.000340        4  0.000097    1544  float64
11        campaign      0  0.000000        0  0.000000      42    int64
12           pdays      0  0.000000       15  0.000364      27    int64
13        previous      0  0.000000    35563  0.863431       8    int64
14        poutcome  35563  0.863431        0  0.000000       2   object
15    emp.var.rate      0  0.000000        0  0.000000      10  float64
16  cons.price.idx      0  0.000000        0  0.000000      26  float64
17   cons.conf.idx      0  0.000000        0  0.000000      26  float64
18       euribor3m      0  0.000000        0  0.000000     316  float64
19     nr.employed      0  0.000000        0  0.000000      11  float64
20               y      0  0.000000        0  0.000000       2   object

In [ ]:
data2['nr.employed']

0        5191.0
1        5191.0
2        5191.0
3        5191.0
4        5191.0
          ...
41183    4963.6
41184    4963.6
41185    4963.6
41186    4963.6
41187    4963.6
Name: nr.employed, Length: 41188, dtype: float64

In [ ]:
data2['nr.employed'] = data2['nr.employed'].astype(int)

In [ ]:
data2['nr.employed']

0        5191
1        5191
2        5191
3        5191
4        5191
         ...
41183    4963
41184    4963
41185    4963
41186    4963
41187    4963
Name: nr.employed, Length: 41188, dtype: int32

In [ ]:
status(data2)

          variable  q_nan     p_nan  q_zeros   p_zeros  unique     type
0              age      0  0.000000        0  0.000000      78    int64
1              job    330  0.008012        0  0.000000      11   object
2          marital     80  0.001942        0  0.000000       3   object
3        education   1731  0.042027        0  0.000000       7   object
4          default   8597  0.208726        0  0.000000       2   object
5          housing    990  0.024036        0  0.000000       2   object
6             loan    990  0.024036        0  0.000000       2   object
7          contact      0  0.000000        0  0.000000       2   object
8            month      0  0.000000        0  0.000000      10   object
9      day_of_week      0  0.000000        0  0.000000       5   object
10        duration     14  0.000340        4  0.000097    1544  float64
11        campaign      0  0.000000        0  0.000000      42    int64
12           pdays      0  0.000000       15  0.000364      27    int64
13        previous      0  0.000000    35563  0.863431       8    int64
14        poutcome  35563  0.863431        0  0.000000       2   object
15    emp.var.rate      0  0.000000        0  0.000000      10  float64
16  cons.price.idx      0  0.000000        0  0.000000      26  float64
17   cons.conf.idx      0  0.000000        0  0.000000      26  float64
18       euribor3m      0  0.000000        0  0.000000     316  float64
19     nr.employed      0  0.000000        0  0.000000      11    int32
20               y      0  0.000000        0  0.000000       2   object

## 4.2) Rellenar los valores nulos

In [ ]:
data2

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191,no
1,57,services,married,high.school,NaN,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334.0,1,999,0,NaN,-1.1,94.767,-50.8,1.028,4963,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383.0,1,999,0,NaN,-1.1,94.767,-50.8,1.028,4963,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189.0,2,999,0,NaN,-1.1,94.767,-50.8,1.028,4963,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,442.0,1,999,0,NaN,-1.1,94.767,-50.8,1.028,4963,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239.0,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963,no

In [ ]:
data2['duration_cat'], saved_bins = pd.qcut(data2['duration'], q=5, retbins=True)

In [ ]:
data2['duration_cat']

0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
              ...
41183     (222.0, 368.0]
41184    (368.0, 4918.0]
41185     (146.0, 222.0]
41186    (368.0, 4918.0]
41187     (222.0, 368.0]
Name: duration_cat, Length: 41188, dtype: category
Categories (5, interval[float64, right]): [(-0.001, 89.0] < (89.0, 146.0] < (146.0, 222.0] < (222.0, 368.0] < (368.0, 4918.0]]

In [ ]:
status(data)

          variable  q_nan     p_nan  q_zeros   p_zeros  unique     type
0              age      0  0.000000        0  0.000000      78    int64
1              job    330  0.008012        0  0.000000      11   object
2          marital     80  0.001942        0  0.000000       3   object
3        education   1731  0.042027        0  0.000000       7   object
4          default   8597  0.208726        0  0.000000       2   object
5          housing    990  0.024036        0  0.000000       2   object
6             loan    990  0.024036        0  0.000000       2   object
7          contact      0  0.000000        0  0.000000       2   object
8            month      0  0.000000        0  0.000000      10   object
9      day_of_week      0  0.000000        0  0.000000       5   object
10        duration     14  0.000340        4  0.000097    1544  float64
11        campaign      0  0.000000        0  0.000000      42    int64
12           pdays      0  0.000000       15  0.000364      27    int64
13        previous      0  0.000000    35563  0.863431       8    int64
14        poutcome  35563  0.863431        0  0.000000       2   object
15    emp.var.rate      0  0.000000        0  0.000000      10  float64
16  cons.price.idx      0  0.000000        0  0.000000      26  float64
17   cons.conf.idx      0  0.000000        0  0.000000      26  float64
18       euribor3m      0  0.000000        0  0.000000     316  float64
19     nr.employed      0  0.000000        0  0.000000      11  float64
20               y      0  0.000000        0  0.000000       2   object

In [ ]:
# data['duration_cat'].fillna(value="desconocido")
# ValueError: Cannot setitem on a Categorical with a new category, set the categories first

In [ ]:
data2['poutcome']=data2['poutcome'].fillna(value="nonexist")

In [ ]:
status(data2)

          variable  q_nan     p_nan  q_zeros   p_zeros  unique      type
0              age      0  0.000000        0  0.000000      78     int64
1              job    330  0.008012        0  0.000000      11    object
2          marital     80  0.001942        0  0.000000       3    object
3        education   1731  0.042027        0  0.000000       7    object
4          default   8597  0.208726        0  0.000000       2    object
5          housing    990  0.024036        0  0.000000       2    object
6             loan    990  0.024036        0  0.000000       2    object
7          contact      0  0.000000        0  0.000000       2    object
8            month      0  0.000000        0  0.000000      10    object
9      day_of_week      0  0.000000        0  0.000000       5    object
10        duration     14  0.000340        4  0.000097    1544   float64
11        campaign      0  0.000000        0  0.000000      42     int64
12           pdays      0  0.000000       15  0.000364      27     int64
13        previous      0  0.000000    35563  0.863431       8     int64
14        poutcome      0  0.000000        0  0.000000       3    object
15    emp.var.rate      0  0.000000        0  0.000000      10   float64
16  cons.price.idx      0  0.000000        0  0.000000      26   float64
17   cons.conf.idx      0  0.000000        0  0.000000      26   float64
18       euribor3m      0  0.000000        0  0.000000     316   float64
19     nr.employed      0  0.000000        0  0.000000      11     int32
20               y      0  0.000000        0  0.000000       2    object
21    duration_cat     14  0.000340        0  0.000000       5  category

In [ ]:
data2=data2.drop(['duration'], axis=1)

In [ ]:
data2

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,duration_cat
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexist,1.1,93.994,-36.4,4.857,5191,no,NaN
1,57,services,married,high.school,NaN,no,no,telephone,may,mon,1,999,0,nonexist,1.1,93.994,-36.4,4.857,5191,no,NaN
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexist,1.1,93.994,-36.4,4.857,5191,no,NaN
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexist,1.1,93.994,-36.4,4.857,5191,no,NaN
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexist,1.1,93.994,-36.4,4.857,5191,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,1,999,0,nonexist,-1.1,94.767,-50.8,1.028,4963,yes,"(222.0, 368.0]"
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,1,999,0,nonexist,-1.1,94.767,-50.8,1.028,4963,no,"(368.0, 4918.0]"
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,2,999,0,nonexist,-1.1,94.767,-50.8,1.028,4963,no,"(146.0, 222.0]"
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,1,999,0,nonexist,-1.1,94.767,-50.8,1.028,4963,yes,"(368.0, 4918.0]"
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963,no,"(222.0, 368.0]"

In [ ]:
import pickle
with open('limpieza_datos_nulos.pickle', 'wb') as f:
    pickle.dump(data2, f)

## 4.3) Custom tratamiento de datos faltantes

In [ ]:
data3=data.copy()

In [ ]:
data3

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,NaN,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,NaN,1,999,0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334.0,1,999,0,NaN,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383.0,1,999,0,NaN,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189.0,2,999,0,NaN,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,442.0,1,999,0,NaN,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239.0,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [ ]:
data6=data.copy()

In [ ]:
data6[["default","poutcome"]]

      default poutcome
0          no      NaN
1         NaN      NaN
2          no      NaN
3          no      NaN
4          no      NaN
...       ...      ...
41183      no      NaN
41184      no      NaN
41185      no      NaN
41186      no      NaN
41187      no  failure

[41188 rows x 2 columns]

In [ ]:
data7 = data6.fillna({'default':'unknown', 'poutcome':'nonexistent'}).fillna("no_definido")

In [ ]:
data7

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,no_definido,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,no_definido,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,no_definido,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,no_definido,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,no_definido,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334.0,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383.0,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189.0,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,442.0,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239.0,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

# 5) One hot encoding ✂️

Vamos a analizar algunas columnas de interés

In [ ]:
data8=data[["age","job","marital","education","default","housing"]].copy()

In [ ]:
data8

       age          job  marital            education default housing
0       56    housemaid  married             basic.4y      no      no
1       57     services  married          high.school     NaN      no
2       37     services  married          high.school      no     yes
3       40       admin.  married             basic.6y      no      no
4       56     services  married          high.school      no      no
...    ...          ...      ...                  ...     ...     ...
41183   73      retired  married  professional.course      no     yes
41184   46  blue-collar  married  professional.course      no      no
41185   56      retired  married    university.degree      no     yes
41186   44   technician  married  professional.course      no      no
41187   74      retired  married  professional.course      no     yes

[41188 rows x 6 columns]

In [ ]:
d_tr_ohe = pd.get_dummies(data8)

In [ ]:
d_tr_ohe

,age,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,marital_divorced,marital_married,marital_single,education_basic.4y,education_basic.6y,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,default_no,default_yes,housing_no,housing_yes
0,56,False,False,False,True,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,True,False
1,57,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,True,False
2,37,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,True,False,False,True
3,40,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,True,False,True,False
4,56,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,True,False,False,True
41184,46,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,True,False,True,False
41185,56,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,True
41186,44,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,True,False,True,False
41187,74,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,True,False,False,True

In [ ]:
d_tr_ohe.columns

Index(['age', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'marital_divorced', 'marital_married', 'marital_single',
       'education_basic.4y', 'education_basic.6y', 'education_basic.9y',
       'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'default_no', 'default_yes', 'housing_no', 'housing_yes'],
      dtype='object')

In [ ]:
import pickle

with open('categories_ohe.pickle', 'wb') as handle:
    pickle.dump(d_tr_ohe.columns, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
new_data = pd.DataFrame({
    "age":[44,54,49],
    "job":["blue-collar","services","blue-collar"],
    "marital":["married","married","married"],
    "education":["basic.6y","basic.4y","basic.6y"],
    "default":["no","no","no"],
    "housing":["no","yes","no"],
    })

In [ ]:
new_data

   age          job  marital education default housing
0   44  blue-collar  married  basic.6y      no      no
1   54     services  married  basic.4y      no     yes
2   49  blue-collar  married  basic.6y      no      no

In [ ]:
with open('categories_ohe.pickle', 'rb') as handle:
    ohe_tr = pickle.load(handle)

In [ ]:
ohe_tr

Index(['age', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'marital_divorced', 'marital_married', 'marital_single',
       'education_basic.4y', 'education_basic.6y', 'education_basic.9y',
       'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'default_no', 'default_yes', 'housing_no', 'housing_yes'],
      dtype='object')

In [ ]:
pd.get_dummies(new_data)

,age,job_blue-collar,job_services,marital_married,education_basic.4y,education_basic.6y,default_no,housing_no,housing_yes
0,44,True,False,True,False,True,True,True,False
1,54,False,True,True,True,False,True,False,True
2,49,True,False,True,False,True,True,True,False

In [ ]:
pd.get_dummies(new_data).reindex(columns = ohe_tr)

,age,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,marital_divorced,marital_married,marital_single,education_basic.4y,education_basic.6y,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,default_no,default_yes,housing_no,housing_yes
0,44,NaN,True,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,NaN,NaN,NaN,True,NaN,True,False
1,54,NaN,False,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,True,NaN,True,False,NaN,NaN,NaN,NaN,NaN,True,NaN,False,True
2,49,NaN,True,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,NaN,NaN,NaN,True,NaN,True,False

In [ ]:
d_tr_ohe_2 = pd.get_dummies(new_data).reindex(columns = ohe_tr).fillna("False")

In [ ]:
d_tr_ohe_2

,age,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,marital_divorced,marital_married,marital_single,education_basic.4y,education_basic.6y,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,default_no,default_yes,housing_no,housing_yes
0,44,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,True,False,True,False
1,54,False,False,False,False,False,False,False,True,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True
2,49,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,True,False,True,False

# 6) Git y Github 👽

Cargar archivos muy pesados con [Git Large File Storage (LFS)](https://git-lfs.com/).
<br>En este caso va a ser para un modelo con extensión pickle. Pero podría ser un ".csv", ".h5", ".jpg", etc.

```
git pull

git lfs install
git lfs track "*.pickle"
git add .gitattributes

git add limpieza_datos_nulos.pickle
git commit -m "[ADD] Model with filtered data"
git push origin main
```

Hacer un commit de manera convencional

```
git pull

git add .
git commit -m "[Add] Template project"
git push
```

Si quieren escribir con alguna convención los mensajes de los commits: [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/).

> Add blockquote

> Add blockquote

---
# Ejercicio 🏡

## 📍 Objetivo
<br>Realizar la preparación de datos de la Encuesta anual de hogares realizada en todo el territorio de la Ciudad de Buenos Aires, Argentina en el 2019.
<br>Prácticamente vas a acondicionar el dataset para que te quede listo para buscar correlaciones o entrenar algún modelo de Machine Learning.

El dataset proviene del Open Data del Gobierno de Buenos Aires: [Encuesta anual de hogares 2019](https://data.buenosaires.gob.ar/dataset/encuesta-anual-hogares)

---
## 📍 Consigna 1

**_1) Cargamos los datos_**
- Carguen el dataset:
```
  data = pd.read_csv("encuesta-anual-hogares-2019.csv", sep=',')
```
**_2) Inspección inicial_**
- Eliminen las columnas `id` y `hijos_nacidos_vivos`

**_3) Discretización_**
- Para las siguientes columnas discreticen por igual frecuencia e igual rango.
    <br>`ingresos_familiares` con q=8
    <br>`ingreso_per_capita_familiar` con q=10

- En algunas situaciones hay ciertos elementos que se repiten al momento de discretizar, una forma de eliminar duplicados es con el argumento `duplicates='drop'`.
    <br><br>Para las siguientes columnas `ingreso_total_lab` y `ingreso_total_no_lab` consideren:
    ```
    data['ingreso_total_lab'] = pd.qcut(data['ingreso_total_lab'], q=10, duplicates='drop')
    data['ingreso_total_no_lab'] = pd.qcut(data['ingreso_total_no_lab'], q=4, duplicates='drop')
    ```

- Para la columna `edad` discreticen usando igual distancia con `bins=5`.

**_4) Preparación de datos_**
- Cambien el tipo de dato a `str` de las siguientes columnas: `comuna` y `nhogar`.
  <br>_¿Por qué hacemos esto?_ Para estas columnas el número es simplemente una connotación, para representar una comuna por ejemplo pero no hay una relación numérica entre ellos.

- _¿Qué esperas como valor en la columna `años_escolaridad`?_ Número enteros pero no siempre es así, cada entidad o empresa tiene diferentes formas de rellenar una encuesta.
    <br>Evalua lo siguiente: `data['años_escolaridad'].unique()`, vas a poder ver los valores únicos en la columna. Donde destacamos que todos son `object/string`.

- Reemplazar `Ningun año de escolaridad aprobado` por un '0'.
<br>Efectivamente por '0' y no 0, porque esta columna maneja datos tipo `object/string`.
    ```
    data['años_escolaridad'] = data['años_escolaridad'].replace('Ningun año de escolaridad aprobado', '0')
    ```

- Vamos a convertir los tipos de datos de la columna anterior `años_escolaridad` a enteros.
    <br>De manera intuitiva podríamos hacer:
    ```
    data['años_escolaridad'] = data['años_escolaridad'].astype("Int32")
    ```
    PEROOOOOOO marca un error, ¿cierto?
    
    Posiblemente muchas veces les pase que cuando hagan una _cast_ (conversión de un tipo de dato a otro) pueden llegar a tener conflictos si esa columna tienen _NaN_. Para este caso si queremos convertir los valores de la columna `años_escolaridad` de _string_ a _int_, hay que hacer un paso intermedio que es pasarlo a _float_.
    ```
    data['años_escolaridad'] = data['años_escolaridad'].astype(float).astype("Int32")
    ```

- Discreticen para la columna `años_escolaridad` por igual frecuencia e igual rango con un `q=5`

- No necesariamente siempre hay que rellenar los `NaN` en todas las columnas, porque quizás esa cantidad de `NaN` no es tan representativa para nuestro análisis. Así que podes eliminarlo para todo el dataframe o para ciertas columnas.
    ```
    # Eliminar filas que contengan NaN
    data = data.dropna(subset=['situacion_conyugal', 'sector_educativo', 'lugar_nacimiento', 'afiliacion_salud'])
    ```
- Después de eliminar filas, podes resetear el índice para que mantenga la secuencia:
    ```
    data = data.reset_index(drop=True)
    ```

- Rellenar los datos faltantes para la columna `años_escolaridad`. Primero añadan la categoría `desconocido` y luego hacen un rellenado de los datos faltantes con `desconocido`.

- Rellenar los datos faltantes para la columna `nivel_max_educativo` con `value=desconocido`

## 📍 Respuesta esperada 1

Si hacen `status(data)` deberían obtener lo siguiente:

---

In [ ]:
respuesta_1 = pd.read_csv("tarea_respuesta1.csv", sep=',')

In [ ]:
respuesta_1

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,nhogar,0,0.0,0,0.00000,7,object
1,miembro,0,0.0,0,0.00000,19,int64
2,comuna,0,0.0,0,0.00000,15,object
3,dominio,0,0.0,0,0.00000,2,object
4,edad,0,0.0,0,0.00000,5,category
5,sexo,0,0.0,0,0.00000,2,object
6,parentesco_jefe,0,0.0,0,0.00000,9,object
7,situacion_conyugal,0,0.0,0,0.00000,7,object
8,num_miembro_padre,0,0.0,0,0.00000,9,object
9,num_miembro_madre,0,0.0,0,0.00000,11,object
10,estado_ocupacional,0,0.0,0,0.00000,3,object
11,cat_ocupacional,0,0.0,0,0.00000,5,object
12,calidad_ingresos_lab,0,0.0,0,0.00000,4,object
13,ingreso_total_lab,0,0.0,0,0.00000,6,category
14,calidad_ingresos_no_lab,0,0.0,0,0.00000,4,object
15,ingreso_total_no_lab,0,0.0,0,0.00000,2,category
16,calidad_ingresos_totales,0,0.0,0,0.00000,4,object
17,ingresos_totales,0,0.0,4290,0.29979,678,int64
18,calidad_ingresos_familiares,0,0.0,0,0.00000,3,object
19,ingresos_familiares,0,0.0,0,0.00000,8,category
20,ingreso_per_capita_familiar,0,0.0,0,0.00000,10,category
21,estado_educativo,0,0.0,0,0.00000,3,object
22,sector_educativo,0,0.0,0,0.00000,4,object
23,nivel_actual,0,0.0,0,0.00000,14,object
24,nivel_max_educativo,0,0.0,0,0.00000,8,object
25,años_escolaridad,0,0.0,0,0.00000,6,category
26,lugar_nacimiento,0,0.0,0,0.00000,7,object
27,afiliacion_salud,0,0.0,0,0.00000,5,object
28,cantidad_hijos_nac_vivos,0,0.0,0,0.00000,14,object

## 📍 Consigna 2

---

**_5) One hot encoding_**

- Hagan `data_ohe = pd.get_dummies(data)`
- Guardar `data_ohe` en un archivo pickle como vimos en clase con el nombre `categories_ohe.pickle`.
- Carguen el dataset `new_data = pd.read_csv("new_data.csv", sep=',')`
- A `new_data` hagan un reindex con las columnas que guardaron el archivo pickle y para los valores `NaN` rellenenlos con un `0`.

## 📍 Respuesta esperada 2

---

In [ ]:
respuesta_2 = pd.read_csv("tarea_respuesta2.csv", sep=',')

In [ ]:
respuesta_2

,miembro,ingresos_totales,nhogar_1,nhogar_2,nhogar_3,nhogar_4,nhogar_5,nhogar_6,nhogar_7,comuna_1,comuna_10,comuna_11,comuna_12,comuna_13,comuna_14,comuna_15,comuna_2,comuna_3,comuna_4,comuna_5,comuna_6,comuna_7,comuna_8,comuna_9,dominio_Resto de la Ciudad,dominio_Villas de emergencia,"edad_(-0.1, 20.0]","edad_(20.0, 40.0]","edad_(40.0, 60.0]","edad_(60.0, 80.0]","edad_(80.0, 100.0]",sexo_Mujer,sexo_Varon,parentesco_jefe_Conyugue o pareja,parentesco_jefe_Hijo/a - Hijastro/a,parentesco_jefe_Jefe,parentesco_jefe_Nieto/a,parentesco_jefe_Otro familiar,parentesco_jefe_Otro no familiar,parentesco_jefe_Padre/Madre/Suegro/a,parentesco_jefe_Servicio domestico y sus familiares,parentesco_jefe_Yerno/nuera,situacion_conyugal_Casado/a,situacion_conyugal_Divorciado/a,situacion_conyugal_No corresponde,situacion_conyugal_Separado/a de unión o matrimonio,situacion_conyugal_Soltero/a,situacion_conyugal_Unido/a,situacion_conyugal_Viudo/a,num_miembro_padre_1,num_miembro_padre_2,num_miembro_padre_3,num_miembro_padre_4,num_miembro_padre_5,num_miembro_padre_6,num_miembro_padre_7,num_miembro_padre_No corresponde,num_miembro_padre_Padre no vive en el hogar,num_miembro_madre_1,num_miembro_madre_15,num_miembro_madre_2,num_miembro_madre_3,num_miembro_madre_4,num_miembro_madre_5,num_miembro_madre_6,num_miembro_madre_7,num_miembro_madre_9,num_miembro_madre_Madre no vive en el hogar,num_miembro_madre_No corresponde,estado_ocupacional_Desocupado,estado_ocupacional_Inactivo,estado_ocupacional_Ocupado,cat_ocupacional_Asalariado,cat_ocupacional_No corresponde,cat_ocupacional_Patron/empleador,cat_ocupacional_Trabajador familiar,cat_ocupacional_Trabajador por cuenta propia,calidad_ingresos_lab_No corresponde,calidad_ingresos_lab_No tuvo ingresos,calidad_ingresos_lab_Tuvo ingresos pero no declara monto,calidad_ingresos_lab_Tuvo ingresos y declara monto,"ingreso_total_lab_(-0.001, 2500.0]","ingreso_total_lab_(2500.0, 15000.0]","ingreso_total_lab_(15000.0, 25000.0]","ingreso_total_lab_(25000.0, 37000.0]","ingreso_total_lab_(37000.0, 56000.0]","ingreso_total_lab_(56000.0, 1000000.0]",calidad_ingresos_no_lab_No corresponde,calidad_ingresos_no_lab_No tuvo ingresos,calidad_ingresos_no_lab_Tuvo ingresos pero no declara monto,calidad_ingresos_no_lab_Tuvo ingresos y declara monto,"ingreso_total_no_lab_(-0.001, 4000.0]","ingreso_total_no_lab_(4000.0, 500000.0]",calidad_ingresos_totales_No corresponde,calidad_ingresos_totales_No tuvo ingresos,calidad_ingresos_totales_Tuvo ingresos pero no declara monto,calidad_ingresos_totales_Tuvo ingresos y declara monto,calidad_ingresos_familiares_No tuvo ingresos,calidad_ingresos_familiares_Tuvo ingresos pero no declara monto,calidad_ingresos_familiares_Tuvo ingresos y declara monto,"ingresos_familiares_(-0.001, 20800.0]","ingresos_familiares_(20800.0, 30000.0]","ingresos_familiares_(30000.0, 42000.0]","ingresos_familiares_(42000.0, 54000.0]","ingresos_familiares_(54000.0, 70000.0]","ingresos_familiares_(70000.0, 90000.0]","ingresos_familiares_(90000.0, 124000.0]","ingresos_familiares_(124000.0, 1000000.0]","ingreso_per_capita_familiar_(-0.001, 5400.0]","ingreso_per_capita_familiar_(5400.0, 8700.0]","ingreso_per_capita_familiar_(8700.0, 12000.0]","ingreso_per_capita_familiar_(12000.0, 15016.0]","ingreso_per_capita_familiar_(15016.0, 19900.0]","ingreso_per_capita_familiar_(19900.0, 24000.0]","ingreso_per_capita_familiar_(24000.0, 30000.0]","ingreso_per_capita_familiar_(30000.0, 38300.0]","ingreso_per_capita_familiar_(38300.0, 52340.0]","ingreso_per_capita_familiar_(52340.0, 1000000.0]",estado_educativo_Asiste,estado_educativo_No asiste pero asistió,estado_educativo_Nunca asistio,sector_educativo_Estatal/publico,sector_educativo_No corresponde,sector_educativo_Privado no religioso,sector_educativo_Privado religioso,nivel_actual_Jardin maternal,nivel_actual_No corresponde,nivel_actual_Otras escuelas especiales,nivel_actual_Postgrado,nivel_actual_Primario adultos,nivel_actual_Primario comun,nivel_actual_Primario especial,nivel_actual_Sala de 3,nivel_actual_Sala de 4,nivel_actual_Sala de 5,nivel_actual_Secundario/medio adultos,nivel_actual_Secundario/medio comun,nivel_actual_Terciario/superior no universitario,nivel_actual_Universitario,nivel_max_educativo_EGB (1° a 9° año),nivel_max_educativo_No corresponde,nivel_max_educativo_Otras escuelas especiales,nivel_max_educativo_Primario comun,nivel_max_educativo_Primario especial,nivel_max_educativo_Sala de 5,nivel_max_educativo_Secundario/medio comun,nivel_max_educativo_desconocido,"años_escolaridad_(-0.001, 7.0]","años_escolaridad_(7.0, 11.0]","años_escolaridad_(11.0, 12.0]","años_escolaridad_(12.0, 16.0]","años_escolaridad_(16.0, 19.0]",años_escolaridad_desconocido,lugar_nacimiento_CABA,lugar_nacimiento_Otra provincia,lugar_nacimiento_PBA excepto GBA,lugar_nacimiento_PBA sin especificar,lugar_nacimiento_Pais limitrofe,lugar_nacimiento_Pais no limitrofe,lugar_nacimiento_Partido GBA,afiliacion_salud_Otros,afiliacion_salud_Solo obra social,afiliacion_salud_Solo plan de medicina prepaga por contratación voluntaria,afiliacion_salud_Solo prepaga o mutual via OS,afiliacion_salud_Solo sistema publico,cantidad_hijos_nac_vivos_1,cantidad_hijos_nac_vivos_10,cantidad_hijos_nac_vivos_11,cantidad_hijos_nac_vivos_12,cantidad_hijos_nac_vivos_15,cantidad_hijos_nac_vivos_2,cantidad_hijos_nac_vivos_3,cantidad_hijos_nac_vivos_4,cantidad_hijos_nac_vivos_5,cantidad_hijos_nac_vivos_6,cantidad_hijos_nac_vivos_7,cantidad_hijos_nac_vivos_8,cantidad_hijos_nac_vivos_9,cantidad_hijos_nac_vivos_No corresponde
0,1,4000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0.0,0.0,1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1,0,0,0,1,0.0,0.0,0,0.0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,0.0,0.0,0.0,0,1,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0.0,0.0,0.0,0.0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,1,22000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0.0,0.0,1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,1,0,0,1,0.0,0.0,0,0.0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,0.0,0.0,0.0,0,1,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0.0,0.0,0.0,0.0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,1,25000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0.0,0.0,1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,0,1,1,0,0.0,0.0,0,0.0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,0.0,0.0,0.0,0,1,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0.0,0.0,0.0,0.0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2,30000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0.0,0.0,0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,0,1,0,0,0.0,0.0,1,0.0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,0.0,0.0,0.0,0.0,1,0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0.0,0.0,0.0,0.0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,1,20000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0.0,0.0,1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,1,0,0,1,0.0,0.0,0,0.0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,0.0,0.0,0.0,0,1,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0.0,0.0,0.0,0.0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

## 📍 Consigna 3

Cargar su notebook y datasets a un repositorio público personal y compartirlo por Discord.
<br>Consideren usar git lfs para los dataset con extensión csv.